SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO


/******************************************************************************************************************/
/* CREATE TABLES */
/******************************************************************************************************************/

--File.Setting

IF NOT EXISTS (
    SELECT * FROM sys.objects 
    WHERE object_id = OBJECT_ID(N'[File].[Setting]') AND type = N'U'
)
BEGIN
    CREATE TABLE [File].[Setting] (
        [Id] [int] IDENTITY(1,1) NOT NULL,
		[Name] varchar(100) NOT NULL,
        [SourceId] INT NOT NULL,
        [TypeId] INT NOT NULL,
		[ProcessDefinitionId] NVARCHAR(50) NULL,
        [Direction] VARCHAR(3) NOT NULL,
		[StagingSchema] VARCHAR(200) NULL,
		[StagingTable] VARCHAR(200) NULL,
		[TargetSchema] VARCHAR(200) NULL,
		[TargetTable] VARCHAR(200) NULL,
		[IsActive] [bit] NOT NULL CONSTRAINT DfFileSettingIsActive DEFAULT 1,
        [LastChangedUser] VARCHAR(100) NOT NULL,
        [LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileSettingLastChangedDate DEFAULT GETDATE(),

        CONSTRAINT [PkFileSetting] PRIMARY KEY CLUSTERED
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

--File.BulkSetting

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[BulkSetting]') AND type in (N'U'))
BEGIN
	CREATE TABLE [File].[BulkSetting](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[SettingId] [int] NOT NULL,
		[BulkSettingDatabaseId] [int] NOT NULL,
		[SchemaName] [varchar](200) NOT NULL,
		[TableName] [varchar](200) NOT NULL,
		[ErrorFile] [varchar](200) NOT NULL,
		[FormatFile] [varchar](200) NOT NULL,
		[FirstRow] [int] NOT NULL,
		[RowTerminator] [varchar](5) NOT NULL,
		[FieldTerminator] [varchar](2) NOT NULL,
		[QuotedIdentifier] [bit] NOT NULL,
		[LastChangedUser] VARCHAR(100) NOT NULL,
		[LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileBulkSettingLastChangedDate DEFAULT GETDATE(),

		CONSTRAINT [PkFileBulkSetting] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

--File.BulkSettingDatabase

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[BulkSettingDatabase]') AND type in (N'U'))
BEGIN
	CREATE TABLE [File].[BulkSettingDatabase](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[ServerName] [varchar](200) NOT NULL,
		[DatabaseName] [varchar](200) NOT NULL,
		[LastChangedUser] VARCHAR(100) NOT NULL,
		[LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileBulkSettingDatabaseLastChangedDate DEFAULT GETDATE(),

		CONSTRAINT [PkFileBulkSettingDatabase] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO


--File.Source

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[Source]') AND type in (N'U'))
BEGIN
	CREATE TABLE [File].[Source](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[Name] [varchar](50) NOT NULL,
		[Description] [varchar](100) NULL,
		[LastChangedUser] VARCHAR(100) NOT NULL,
		[LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileSourceLastChangedDate DEFAULT GETDATE(),

		CONSTRAINT [PkFileSource] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

--File.Type

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[Type]') AND type in (N'U'))
BEGIN
	CREATE TABLE [File].[Type](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[Name] [varchar](50) NOT NULL,
		[Description] [varchar](100) NULL,
		[LastChangedUser] VARCHAR(100) NOT NULL,
		[LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileTypeLastChangedDate DEFAULT GETDATE(),

		CONSTRAINT [PkFileType] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

--File.Location

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[Location]') AND type in (N'U'))
BEGIN
CREATE TABLE [File].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettingId] INT NOT NULL,
	[LocationTypeId] INT NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[Folder] [varchar](200) NOT NULL,
	[LastChangedUser] VARCHAR(100) NOT NULL,
	[LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileLocationLastChangedDate DEFAULT GETDATE(),

	CONSTRAINT [PkFileLocation] PRIMARY KEY CLUSTERED 
	(
		[Id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

--File.LocationType

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[LocationType]') AND type in (N'U'))
BEGIN
	CREATE TABLE [File].[LocationType](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[Name] [varchar](50) NOT NULL,
		[Description] [varchar](100) NULL,
		[LastChangedUser] VARCHAR(100) NOT NULL,
		[LastChangedDate] DATETIME NOT NULL CONSTRAINT DfFileLocationTypeLastChangedDate DEFAULT GETDATE(),

		CONSTRAINT [PkFileLocationType] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

--File.Log

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[File].[Log]') AND type in (N'U'))
BEGIN
	CREATE TABLE [File].[Log](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[SettingId] INT NOT NULL,
		[ProcessInstanceId] VARCHAR(100) NOT NULL,
		[CurrentFileName] [varchar](100) NULL,
		[CurrentFolder] [varchar](200) NULL,
		[FileHash] [binary](16) NOT NULL,
		[RecordCount] [int] NULL,
		[IsActive] [bit] NOT NULL CONSTRAINT DfFileLogIsActive DEFAULT 1,
		[BulkErrorFile] [varchar](300) NULL,

		CONSTRAINT [PkFileLog] PRIMARY KEY CLUSTERED 
		(
			[Id] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO


/******************************************************************************************************************/
/* CREATE INDEXES & DEFAULTS */
/******************************************************************************************************************/

--File.Setting

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[Setting]') AND name = N'UxFileSetting')
CREATE UNIQUE NONCLUSTERED INDEX [UxFileSetting] ON [File].[Setting]
(
	[SourceId] ASC,
	[TypeId] ASC,
	[Direction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--File.BulkSetting

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[BulkSetting]') AND name = N'UxBulkFileSetting')
CREATE UNIQUE NONCLUSTERED INDEX [UxBulkFileSetting] ON [File].[BulkSetting]
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--File.Location

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[Location]') AND name = N'UxFileLocation')
CREATE UNIQUE NONCLUSTERED INDEX [UxFileLocation] ON [File].[Location]
(
	[SettingId] ASC,
	[LocationTypeId] ASC,
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--File.Log

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[Log]') AND name = N'NxFileLog')
CREATE NONCLUSTERED INDEX [NxFileLog] ON [File].[Log]
(
	[ProcessInstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--File.Source

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[Source]') AND name = N'UxFileSourceName')
CREATE UNIQUE NONCLUSTERED INDEX [UxFileSourceName] ON [File].[Source]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--File.Type

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[Type]') AND name = N'UxFileTypeName')
CREATE UNIQUE NONCLUSTERED INDEX [UxFileTypeName] ON [File].[Type]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--File.LocationType

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[File].[LocationType]') AND name = N'UxFileLocationTypeName')
CREATE UNIQUE NONCLUSTERED INDEX [UxFileLocationTypeName] ON [File].[LocationType]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

/******************************************************************************************************************/
/* CREATE FOREIGN KEYS */
/******************************************************************************************************************/

--File.Setting

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkSettingSource]') AND parent_object_id = OBJECT_ID(N'[File].[Setting]'))
ALTER TABLE [File].[Setting]  WITH CHECK ADD  CONSTRAINT [FkSettingSource] FOREIGN KEY([SourceId])
REFERENCES [File].[Source] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkSettingSource]') AND parent_object_id = OBJECT_ID(N'[File].[Setting]'))
ALTER TABLE [File].[Setting] CHECK CONSTRAINT [FkSettingSource]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkSettingType]') AND parent_object_id = OBJECT_ID(N'[File].[Setting]'))
ALTER TABLE [File].[Setting]  WITH CHECK ADD  CONSTRAINT [FkSettingType] FOREIGN KEY([TypeId])
REFERENCES [File].[Type] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkSettingType]') AND parent_object_id = OBJECT_ID(N'[File].[Setting]'))
ALTER TABLE [File].[Setting] CHECK CONSTRAINT [FkSettingType]
GO

--File.BulkSetting

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkBulkSettingSetting]') AND parent_object_id = OBJECT_ID(N'[File].[BulkSetting]'))
ALTER TABLE [File].[BulkSetting]  WITH CHECK ADD  CONSTRAINT [FkBulkSettingSetting] FOREIGN KEY([SettingId])
REFERENCES [File].[Setting] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkBulkSettingSetting]') AND parent_object_id = OBJECT_ID(N'[File].[BulkSetting]'))
ALTER TABLE [File].[BulkSetting] CHECK CONSTRAINT [FkBulkSettingSetting]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkBulkSettingBulkSettingDatabase]') AND parent_object_id = OBJECT_ID(N'[File].[BulkSetting]'))
ALTER TABLE [File].[BulkSetting]  WITH CHECK ADD  CONSTRAINT [FkBulkSettingBulkSettingDatabase] FOREIGN KEY([BulkSettingDatabaseId])
REFERENCES [File].[BulkSettingDatabase] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkBulkSettingBulkSettingDatabase]') AND parent_object_id = OBJECT_ID(N'[File].[BulkSetting]'))
ALTER TABLE [File].[BulkSetting] CHECK CONSTRAINT [FkBulkSettingBulkSettingDatabase]
GO

--File.Location

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkLocationSetting]') AND parent_object_id = OBJECT_ID(N'[File].[Location]'))
ALTER TABLE [File].[Location]  WITH CHECK ADD  CONSTRAINT [FkLocationSetting] FOREIGN KEY([SettingId])
REFERENCES [File].[Setting] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkLocationSetting]') AND parent_object_id = OBJECT_ID(N'[File].[Location]'))
ALTER TABLE [File].[Location] CHECK CONSTRAINT [FkLocationSetting]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkLocationLocationType]') AND parent_object_id = OBJECT_ID(N'[File].[Location]'))
ALTER TABLE [File].[Location]  WITH CHECK ADD  CONSTRAINT [FkLocationLocationType] FOREIGN KEY([LocationTypeId])
REFERENCES [File].[LocationType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkLocationLocationType]') AND parent_object_id = OBJECT_ID(N'[File].[Location]'))
ALTER TABLE [File].[Location] CHECK CONSTRAINT [FkLocationLocationType]
GO

--File.Log

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkLogSetting]') AND parent_object_id = OBJECT_ID(N'[File].[Log]'))
ALTER TABLE [File].[Log]  WITH CHECK ADD  CONSTRAINT [FkLogSetting] FOREIGN KEY([SettingId])
REFERENCES [File].[Setting] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[File].[FkLogSetting]') AND parent_object_id = OBJECT_ID(N'[File].[Log]'))
ALTER TABLE [File].[Log] CHECK CONSTRAINT [FkLogSetting]
GO

/******************************************************************************************************************/
/* CREATE OTHER CONSTRAINTS */
/******************************************************************************************************************/

--File.Setting

IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[File].[CkSettingDirection]') AND parent_object_id = OBJECT_ID(N'[File].[Setting]'))
ALTER TABLE [File].[Setting]  WITH CHECK ADD  CONSTRAINT [CkSettingDirection] CHECK  ((UPPER([Direction])='IN' OR UPPER([Direction])='OUT'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[File].[CkSettingDirection]') AND parent_object_id = OBJECT_ID(N'[File].[Setting]'))
ALTER TABLE [File].[Setting] CHECK CONSTRAINT [CkSettingDirection]
GO