SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

/******************************************************************************************************************/
/* CREATE VIEWS */
/******************************************************************************************************************/

--File.VwFileSetting

CREATE OR ALTER VIEW [File].[VwFileSetting] 
AS
SELECT
	[Setting].[Id] AS FileSettingId,
	[Setting].[Name] AS FileSettingName,
	[Source].[Id] AS FileSourceId,
	[Source].[Name] AS FileSourceName,
	[Type].[Id] AS FileTypeId,
	[Type].[Name] AS FileTypeName,
	[LocationType].[Id] AS LocationTypeId,
	[LocationType].[Name] AS LocationTypeName,
	[Location].[Id] AS [FileLocationId],
	[Location].[FileName] AS [FileName],
	[Location].[Folder] AS [FileFolder],
	[Setting].[Direction],
	[ProcessDefinitions].[DefinitionId] AS ProcessDefinitionId,
	[ProcessDefinitions].[ProcessName] AS ProcessDefinitionName,
	[Setting].[StagingSchema],
	[Setting].[StagingTable],
	[Setting].[TargetSchema],
	[Setting].[TargetTable],
	IIF([BulkSetting].Id IS NULL, 0, 1) AS IsBulk,
	[Setting].[IsActive],
	[Setting].[LastChangedUser],
	FORMAT([Setting].[LastChangedDate], 'yyyy-MM-dd HH:mm:ss') AS LastChangedDate
FROM
	[File].[Setting]
INNER JOIN
	[File].[Source] ON [Source].[Id] = [Setting].[SourceId]
INNER JOIN
	[File].[Type] ON [Type].[Id] = [Setting].[TypeId]
INNER JOIN
	[File].[Location] ON [Location].[SettingId] = [Setting].[Id]
INNER JOIN
	[File].[LocationType] ON [LocationType].[Id] = [Location].[LocationTypeId]
LEFT JOIN
	[linx_processautomation_reporting].[ProcessDefinitions] ON [ProcessDefinitions].[DefinitionId] = [Setting].[ProcessDefinitionId]
LEFT JOIN	
	[File].[BulkSetting] ON [BulkSetting].[SettingId] = [Setting].[Id]

GO


--File.VwFileLog

CREATE OR ALTER VIEW [File].[VwFileLog] 
AS
SELECT
	[Log].Id AS LogId,
	[Log].SettingId,
	[Setting].[Name] AS SettingName,
	[Source].Id AS SourceId,
	[Source].[Name] AS SourceName,
	[Type].Id AS TypeId,
	[Type].[Name] AS TypeName,
	[Log].CurrentFileName,
	[Log].CurrentFolder,
	[Log].FileHash,
	[Log].RecordCount,
	[Log].IsActive,
	[Setting].[Direction],
	[Log].[BulkErrorFile],
	IIF([Log].[BulkErrorFile] IS NULL, 'No', 'Yes') AS HasBulkErrorFile,
	[ProcessInstancesView].ProcessInstanceId,
	[ProcessInstancesView].DefinitionId AS ProcessDefinitionId,
	[ProcessInstancesView].ProcessName,
	[ProcessInstancesView].LastExecutedActivityId,
	[ProcessInstancesView].LastExecutedActivityName,
	[ProcessInstancesView].[CurrentStatus],
	[ProcessInstancesView].CreatedAt,
	[ProcessInstancesView].LastExecutedAt,
	[ProcessInstancesView].FinishedAt,
	[ProcessInstancesView].CancelledAt,
	[ProcessInstancesView].FaultedAt,
	[ProcessInstancesView].[Data]
FROM
	[File].[Log]
INNER JOIN
	[File].[Setting] ON [Setting].Id = [Log].SettingId
INNER JOIN
	[File].[Source] ON [Source].Id = [Setting].SourceId
INNER JOIN
	[File].[Type] ON [Type].Id = [Setting].TypeId
INNER JOIN
	[linx_processautomation_reporting].[ProcessInstancesView] ON [ProcessInstancesView].ProcessInstanceId = [Log].ProcessInstanceId 
GO
